<%= simple_form_for @user, :url => sessions_path, :html => { :class => 'form-horizontal' } do |f| %>
	<legend>Login</legend>
	<%= f.input :email %>
	<%= f.input :password %>
	<div class="form-actions">
		<%= f.submit 'Login', :class => "btn btn-primary" %>
	</div>
<% end %>

Don't have 10xEngineer Labs account? <%= link_to "Sign up", signup_url %> today.