<% content_for :content_header do %>
<h1>SSH Keys</h1>
<% end %>

<% if @keys.empty? %>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
	  	 Use name 'default' for you primary public key.
	</div>
<% end %>

<% if @keys.empty? %>
<% else %>
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-content nopadding">
			<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Fingerprint</th>
					<th>Created</th>
					<th>&nbsp;</th>
				</tr>
			</thead>	
			<tbody>
				<% @keys.each do |key| %>
				<tr>
					<td><%= key.name %></td>
					<td class="fingerprint"><%= key.fingerprint %></td>
					<td><%= key.created_at %></td>
					<td><%= link_to 'Delete', user_key_path(@current_user, key.name), :method => :delete, :confirm => 'Are you sure?' %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>									
				</span>
				<h5>Add new SSH Key</h5>
			</div>
			<div class="widget-content nopadding">
				<%= simple_form_for @key, :url => user_keys_path(@current_user), :html => { :class => 'form-horizontal' } do |f| %>
					<%= f.input :name, :placeholder => 'default' %>
					<%= f.input :public_key, :as => :text %>
					<div class="form-actions">
						<%= f.submit 'Add key', :class => "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>